<!DOCTYPE HTML>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link th:href="@{/layout/styles/home.css}" rel="stylesheet">
	<title>Officina - HomePage</title>
</head>
<body>
<header>
	<a th:href="@{/index}" class="header-brand">Officina</a>
	<nav>
		<ul>
			<li><a th:href="@{/default}">Home</a></li>
			<li>
			<div class="dropdown">
				<a class="dropbtn">Funzioni</a>
				<div class="dropdown-content">
					<a th:href="@{/interventions/client}">Miei interventi</a>
					<a th:href="@{/typeOfIntervention}">Tipologie interventi</a>
					<a th:href="@{/mechanical}">Meccanici</a>
					<a th:href="@{/logout}">Logout</a>
				</div>
				</div>
			</li>
			
		</ul>
		<a th:href="@{/register}" class="header-register">Register</a>
		<a th:href="@{/login}" class="header-login">Login</a>
	</nav>
</header>

<div th:if="${role}=='ADMIN'">
<div class="benvenuto">
<p>Admin: <a sec:authentication="name"></a></p>
</div>
</div>
<div th:unless="${role}=='ADMIN'">
<div class="benvenuto">
<p>Utente: <a sec:authentication="name"></a></p>
</div>
</div>

<main>
<section class="index-banner">
		<div class="vertical-center">
			<h2>Qualità garantita per gli interventi meccanici sulla tua auto</h2>
			<h1>Effetuiamo interventi di riparazione meccanica e manutenzione</h1>
		</div>
	</section>
</main>
<footer>
<ul class="footer-links-main">
	<li><a th:href="@{/default}">Home</a></li>
	<li><a th:href="@{/interventions/client}">Miei interventi</a></li>
	<li><a th:href="@{/typeOfIntervention}">Tipologie interventi</a></li>
	<li><a th:href="@{/mechanical}">Meccanici</a></li>
</ul>
<br>
<br>
<br>
<br>
<ul class="footer-links-cases">
	<li>info@gmail.com</li>
</ul>
</footer>
</body>
</html>