<!DOCTYPE HTML>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link th:href="@{/layout/styles/interventionForm.css}" rel="stylesheet">
	<title>Officina - Inserisci intervento</title>
</head>
<body>
<header>
	<a th:href="@{/index}" class="header-brand">Officina</a>
	<nav>
		<ul>
			<li><a th:href="@{/default}">Home</a></li>
			<li>
			<div class="dropdown">
				<a class="dropbtn">Inserisci</a>
				<div class="dropdown-content">
					<a th:href="@{/admin/intervention}">Intervento</a>
					<a th:href="@{/admin/typeOfIntervention}">Tipo di Intervento</a>
					<a th:href="@{/admin/mechanical}">Meccanico</a>
				</div>
				</div>
			</li>
					
			<li>
			<div class="dropdown">
				<a class="dropbtn">Visualizza</a>
				<div class="dropdown-content">
					<a th:href="@{/admin/interventions}">Interventi</a>
					<a th:href="@{/typeOfIntervention}">Tipi di Interventi</a>
					<a th:href="@{/mechanical}">Meccanici</a>
					<a th:href="@{/admin/client}">Clienti</a>
				</div>
				</div>
			</li>
			<li><a th:href="@{/logout}">Logout</a></li>
		</ul>
		<a th:href="@{/register}" class="header-register">Register</a>
		<a th:href="@{/login}" class="header-login">Login</a>
	</nav>
</header>

<div class="benvenuto">
<p>Admin: <a sec:authentication="name"></a></p>
</div>


<section class="contentForm">
<div class="main">
		<form th:action="@{/admin/intervention}" method="POST" th:object="${intervention}">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" th:style="'color:red'">...</p>
			</div>
			<div class="formTitle">
				<p>Intervento</p>
			</div>
			
			<table class="centerTable">
				<tr>
					<td>
					<div class="typeOfInterventionText">
					<h6>
						<label>Tipo di intervento</label><select id="typeOfIntervention" class="typeOfIntervention" th:field="*{typeOfIntervention}" required>
						<option th:each="typeOfIntervention : ${typeOfInterventions}"
								th:value="${typeOfIntervention.id}" th:text="${typeOfIntervention.name}"></option>
						</select>
					</h6>
					</div>
					</td>
					
					<td>
					<div class="dateInterventionText">
					<h6>
						<span>Data intervento<input type="date" class="dateIntervention" th:field="*{dateIntervention}" required/></span>
					</h6>
					</div>
					<span th:if="${#fields.hasErrors('dateIntervention')}" th:errors="*{dateIntervention}"></span>
					</td>
				</tr>
				
				<tr>
					<td>
					<div class="clientText">
					<h6>
						<label>Cliente</label>
						<br>
						<select id="client" class="client" th:field="*{client}" required>
						<option th:each="client : ${clients}"
								th:value="${client.id}" th:text="${client.name + ' ' + client.surname}"></option>
						</select>
					</h6>
					</div>
					</td>
					
					<td>
					<div class="mechanicalText">
					<h6>
						<label>Meccanico</label>
						<br>
						<select id="mechanical" class="mechanical" th:field="*{mechanical}" required>
						<option th:each="mechanical : ${mechanicals}"
								th:value="${mechanical.id}" th:text="${mechanical.name + ' ' + mechanical.surname}"></option>
						</select>
					</h6>
					</div>
					</td>
				</tr>
	</table>
	<div>
		<h6><button class="button" type="submit"><b>Inserisci</b></button></h6>
		</div>	
		</form>
		</div>
		</section>

<footer>
<ul class="footer-links-main">
	<li><a th:href="@{/default}">Home</a></li>
	<li><a th:href="@{/admin/interventions}">Interventi</a></li>
	<li><a th:href="@{/typeOfIntervention}">Tipologie interventi</a></li>
	<li><a th:href="@{/mechanical}">Meccanici</a></li>
	<li><a th:href="@{/admin/client}">Clienti</a></li>
</ul>
<br>
<br>
<br>
<br>
<ul class="footer-links-cases">
	<li>info@gmail.com</li>
</ul>
</footer>
</body>
</html>