<!DOCTYPE HTML>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link th:href="@{/layout/styles/loginForm.css}" rel="stylesheet">
	<title>Officina - Login</title>
</head>
<body>

<header>
	<a th:href="@{/index}" class="header-brand">Officina</a>
	<nav>
		<ul>
			<li><a th:href="@{/index}">Home</a></li>
			<li><a th:href="@{/typeOfInterventionAll}">Tipologie interventi</a></li>
			<li><a th:href="@{/mechanicalAll}">Meccanici</a></li>
		</ul>
		<a th:href="@{/register}" class="header-register">Register</a>
		<a th:href="@{/login}" class="header-login">Login</a>
	</nav>
</header>


<main>
<section class="contentLogin">
	<div class="main">
	<form th:action="@{/login}" method="POST">
	<div class="loginTitle">
		<p>Login</p>
	</div>
	<div>
	
		<div>
		<div class="usernameText">
		<h6>Username</h6>
		</div>
		<h6><input class="username" type="text" name="username" placeholder="Inserisci il tuo username" required></h6>
		</div>
		<br>
		
		<div>
		<div class="passwordText">
		<h6>Password</h6>
		</div>
		<h6><input class="password" type="password" name="password" placeholder="Inserisci la tua password" required></h6>
		</div>
		<br>
		
		<div>
		<h6><button class="button" type="submit">Login</button></h6>
		</div>
	</div>
	</form>
	</div>
	</section>
</main>


<footer>
<ul class="footer-links-main">
	<li><a th:href="@{/index}">Home</a></li>
	<li><a th:href="@{/typeOfInterventionAll}">Tipologie interventi</a></li>
	<li><a th:href="@{/mechanicalAll}">Meccanici</a></li>
</ul>
<br>
<br>
<br>
<br>
<ul class="footer-links-cases">
	<li>info@gmail.com</li>
</ul>
</footer>
</body>
</html>